*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body {
    background-color: azure;
    color: white;
    font-family: "Century Gothic";

}
.banner{
    Width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(baggrund.jpg);
    background-size: cover;
    background-position: center;
}

.Container{
    display:grid;
    height: 100vh;
    grid-template-columns: 0.8fr 3fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-gap: 0.1rem;
    grid-template-areas:
            "nav nav"
            "sidebar main"
            "footer footer"
}

nav{
    grid-area:nav;
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-style: outset;
    border-color: dodgerblue;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 90px;
}

nav ul li a{
    color: white;
    text-transform: uppercase;
    font-family: "Baloo Thambi 2";
}

.main{
    grid-area: main
}


.sidebar{


    grid-area: sidebar;
}
footer{
    grid-area: footer;
    border-style: solid none none none;
    border-color: darkblue;


}



